<?xml version="1.0"?>
<!--
/**
 * Copyright © Webscale. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <webscale_varnish>
            <general>
                <split_enabled>0</split_enabled>
            </general>
        </webscale_varnish>
    </default>
</config>
