<?xml version="1.0"?>
<!--
/**
 * Copyright © Webscale. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\HTTP\PhpEnvironment\Response">
        <plugin name="webscale_splitheader_http_response_split_header"
                type="Webscale\SplitHeader\Plugin\HttpResponseSplitHeader" />
    </type>
</config>
