<?xml version="1.0"?>
<!--
/**
 * Copyright © Webscale. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Webscale_SplitHeader" setup_version="2.4.6.2" />
</config>
